@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');
body{
  background: white;
  color: black;
  font-family:'Dangrek';
}
a{
  color: black;
  text-decoration: none;
}
nav{
  margin: 10px auto 80px;
  padding: 10px 0px;
  display: flex;
  justify-content: ;
}