@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dangrek&family=Roboto+Mono:wght@100&family=Roboto:ital,wght@0,500;1,400&display=swap');
body{
  background: white;
  color: black;
  font-family:'Bungee+Spice';
}
a{
  color: black;
  text-decoration: none;
}
.content{
  max-width: 960px;
  margin: 0 auto;
}
nav{
  margin: 10px auto 80px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
nav a:not(:first-child){
  margin-left: 20px;
}
footer{
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}